---
layout: default
title: Projects
permalink: /projects/
---

<div class="project">
	<a href="https://www.smith.edu/">
		<img src="smithseal.jpg" class="plogo">
	</a>
	<div class="psection">
		<span class="ptitle">
			Quantifying biological structure
		</span><br>
		<span class="pwhat">
			<a class="pwhat" href="https://www.smith.edu/academics/faculty/michael-barresi">Dr. Michael Barresi</a>, Smith College<br>
			September 2015 - Present
		</span>
	</div>

	<div class="pcontent">
		<!-- Goal -->
		<p><span class="bold">Goal:</span> <strong class="hlight">To develop a method for quantitatively analyzing images of biological structures</strong> </p>
		<p><span class="bold">Approach:</span> {% include project_descriptions/barresi.md %} </p>
		<!-- Place this tag where you want the button to render. -->
		<a class="github-button" href="https://github.com/msschwartz21/craniumPy/fork" aria-label="Fork msschwartz21/craniumPy on GitHub">Fork</a>
		<div class="box">
			<p style="text-align: center;"><span class="bold">The Post Optic Commissure</span></p> 
			<img src="wt.jpg">
				<br>
				<p class="labels"><span class="at">Axons</span>  <span class="gfap">Glial Cells</span></p>
		</div>
		<iframe id="wt3d" width="700" height="600" frameborder="0" scrolling="no" src="//plot.ly/~msschwartz21/126.embed"></iframe>
	</div>	
</div>

<div class="project">
	<a href="https://www.janelia.org/">
		<img src="Janelia.png" class="plogo">
	</a>
	<div class="psection">
		<!-- Name -->
		<span class="ptitle">
			Reconstruction of cell fate and behavior during <span style="font-style: italic;">Drosophila</span> brain development
		</span><br>
		<span class="pwhat">
			<a class="pwhat" href="https://www.janelia.org/people/philipp-keller">Dr. Philipp Keller</a>, Janelia Research Campus, Howard Hughes Medical Institute<br>
			June - August 2016
		</span>
	</div>

	<div class="pcontent">
		<p><span class="bold">Goal:</span> <strong class="hlight">To characterize the movement and behavior of brain cell precursers during brain development</strong> </p>
		<p><span class="bold">Approach:</span> {% include project_descriptions/keller.md %} </p>
		<a class="github-button" href="https://github.com/msschwartz21/Mamut_xml_processing/fork" aria-label="Fork msschwartz21/Mamut_xml_processing on GitHub">Fork</a>
		<img src="tracking.png" width="600">
	</div>
</div>

<div class="project">
	<a href="https://www.bannerhealth.com/locations/sun-city/banner-sun-health-research-institute">
		<img src="banner.png" class="plogo">
	</a>
	<div class="psection">
		<span class="ptitle">
			Characterizing Neurofibrillary Tangle Predominant Dementia
		</span><br>
		<span class="pwhat">
			<a class="pwhat" href="http://www.marwansabbaghmd.com/">Dr. Marwan Sabbagh</a>, Banner Sun Health Research Institute<br>
			June - August 2015
		</span>
	</div>

	<div class="pcontent">
		<p><span class="bold">Goal:</span> <strong class="hlight">To identify clincial features of Neurofibrillary Tangle Predominant Dementia</strong> </p>
		<p><span class="bold">Approach:</span> {% include project_descriptions/sabbagh.md %} </p>
		<a href="https://www.omicsonline.org/open-access/neurofibrillary-tangle-predominant-dementia-clinical-andpathological-description-in-a-case-series-2161-0460-1000204.php?aid=67189">Schwartz M, Sabbagh M et al. Neurofibrillary Tangle Predominant Dementia: Clinical and pathological description in a case series. <span style="font-style: italic;">Journal of Alzheimer’s Disease and Parkinsonism</span>, 2016.</a>
	</div>
</div>

<div class="project">
	<a href="https://www.smith.edu/">
		<img src="smithseal.jpg" class="plogo">
	</a>
	<div class="psection">
		<span class="ptitle">
			Microbial diveristy in the ocean
		</span><br>
		<span class="pwhat">
			<a class="pwhat" href="https://www.smith.edu/academics/faculty/laura-katz">Dr. Laura Katz</a>, Smith College<br>
			September 2014 - May 2015
		</span>
	</div>
	
	<div class="pcontent">
		<p><span class="bold">Goal:</span> <strong class="hlight">To characterize the changes in biodiversity of microbial organisms in tide pools in response to changes in tide and location</strong> </p>
		<p><span class="bold">Approach:</span> {% include project_descriptions/katz.md %}</p>
	</div>
</div>

<div class="project">
	<a href="https://www.smith.edu/">
		<img src="smithseal.jpg" class="plogo">
	</a>
	<div class="psection">
		<span class="ptitle">
			Memorializing Northampton State Hospital
		</span><br>
		<span class="pwhat">
			<a class="pwhat" href="https://www.smith.edu/academics/faculty/thomas-riddell">Dr. Thomas Riddell</a>, Smith College<br>
			August 2014 - May 2015
		</span>
	</div>

	<div class="pcontent">
		<p><span class="bold">Goal:</span> <strong class="hlight">To develop memorialization of Northampton State Hospital to educate visitors</strong></p>
		<p><span class="bold">Approach:</span> {% include project_descriptions/riddell.md %}</p>
	</div>

</div>