<nav>
  <!-- <h1>Hi.</h1> -->
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/portrait.jpg" width="200px" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2 class="h2">I'm <a class="h2" href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>I'm a senior at Smith College studying developmental biology.</p>
  </div>

  <ul id="blog-posts" class="posts">
    <li>
      <a href="{{ site.baseurl }}{% link index.html %}">About Me</a><br>
      <a href="{{ site.baseurl }}{% link projects.html %}">Projects</a><br>
      <a href="{{ site.baseurl }}{% link pubs.html %}">Publications</a><br>
      <a href="{{ site.baseurl }}{% link about.html %}">Honors and Awards</a>
    </li>
  </ul>

  <div id="social">
    {% include social.html %}
  </div>
</nav>
